#table-logs {
	border-collapse: collapse;
	width: 100%;
}

#table-logs th, #table-logs td {
	text-align: left;
	padding: 8px;
}

#table-logs tr:nth-child(even) {
	background-color: #f1f1f1
}

#table-logs th {
	background-color: #7f7f7f;
	color: white;
}

#search_query {
	background-image: url('svg-search.gif');
	background-size: 42px;
	background-position: 2px 6px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

/*Pagination*/
.center {
	text-align: center;
	padding-top: 30px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination a.active {
	background-color: #7f7f7f;
	color: white;
	border: 1px solid #7f7f7f;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.label_debug {
	background-color: gray;
	padding: 4px;
	color: white;
}

.label_info {
	background-color: deepskyblue;
	padding: 4px;
	color: white;
}

.label_notice {
	background-color: mediumseagreen;
	padding: 4px;
	color: white;
}

.label_warning {
	background-color: orange;
	padding: 4px;
	color: white;
}

.label_error {
	background-color: orange;
	padding: 4px;
	color: white;
}

.label_critical {
	background-color: orangered;
	padding: 4px;
	color: white;
}

.label_alert {
	background-color: red;
	padding: 4px;
	color: white;
}

.label_emergency {
	background-color: darkmagenta;
	padding: 4px;
	color: white;
}


.btn-logs {
	background-color: #7f7f7f;
	color: white;
	padding: 15px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

a.btn-logs:hover {
	background-color: #DBDBDB;
	color: #514943;
	padding: 15px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

/*Dropdown menu*/
.dropbtn {
	background-color: #7f7f7f;
	color: white;
	padding: 15px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn-logs {
	background-color: #7f7f7f;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #e9e9e9
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #b2b2b2;
}

.float-right {
	float: right;
}

.select-logs {
	padding: 16px;
	margin: 0;
	background: #7f7f7f;
	color: #fff;
	width: 160px;
	border: none;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	select {
		padding-right: 18px
	}
}

.label-logs {
	position: relative
}

.label-logs:after {
	content: '<>';
	font: 11px "Consolas", monospace;
	color: #fff;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 8px;
	top: 2px;
	padding: 0 0 2px;
	border-bottom: 1px solid #ddd;
	position: absolute;
	pointer-events: none;
}

.label-logs:before {
	content: '';
	right: 6px;
	top: 0px;
	width: 20px;
	height: 20px;
	background: #7f7f7f;
	position: absolute;
	pointer-events: none;
	display: block;
}
