@import 'https://fonts.googleapis.com/css?family=Poiret+One';

/* Custom Code Here */
.container {
	margin-top: 35px;
}

.container .check input {
	display: none;
}

b.search_query {
	background: moccasin;
	border-radius: 2px;
}

.container .check input:checked + label .box {
	-webkit-animation: animOn 0.6s 1 forwards;
	animation: animOn 0.6s 1 forwards;
	background: rgba(0, 0, 0, 0.5);
}

.container .check input:checked + label .box i {
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	opacity: 1;
	color: #fff;
}

.container .check label {
	min-width: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	min-height: 60px;
	cursor: pointer;
}

.container .check label .box {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	position: relative;
	width: 30px;
	height: 30px;
	-webkit-transition: background 300ms ease;
	transition: background 300ms ease;
}

.container .check label .box:hover {
	background: rgba(0, 0, 0, 0.5);
}

.container .check label .box i {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20px;
	display: inline-block;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transition-delay: 200ms;
	transition-delay: 200ms;
	-webkit-transform: translate(-50%, -50%) scale(6);
	transform: translate(-50%, -50%) scale(6);
}

@-webkit-keyframes animOn {
	40% {
		height: 20px;
		width: 100px;
	}
	60% {
		height: 60px;
		width: 40px;
	}
	75% {
		height: 35px;
		width: 60px;
	}
	100% {
		height: 40px;
		width: 40px;
	}
}

@keyframes animOn {
	40% {
		height: 20px;
		width: 100px;
	}
	60% {
		height: 60px;
		width: 40px;
	}
	75% {
		height: 35px;
		width: 60px;
	}
	100% {
		height: 40px;
		width: 40px;
	}
}

#grpChkBox {
	margin-top: 10px;
}

#grpChkBox label {
	display: inline-block;
	margin-right: 20px;
}

#grpChkBox label .box {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.icon-check:before {
	font-style: normal;
	font-family: 'Admin Icons';
	color: #fff;
	content: '\e62d';
}

.icon-refresh:before {
	font-style: normal;
	font-family: 'Admin Icons';
	color: #fff;
	content: '\e62c';
}

hr {
	background-color: #ddd;
	border: 0 none;
	color: #DDD;
	height: 1px;
}

.dropdown .select2-container--default .select2-selection--single {
	border: 0;
	border-radius: 0;
	height: 53px;
	background: #7F7F7F;
	margin-top: -5px;
}

.dropdown .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #fff;
	line-height: 53px;
	height: 100%;
}

.dropdown .select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 8px;
}

.dropdown .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #fff transparent transparent transparent;
}

.dropdown .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #fff transparent;
}