<div id="app">
	<button class="btn-logs" v-on:click="refreshLogData()">
		<i class="icon-refresh"></i>
	</button>
	<div class="dropdown">
		<select class="select2 dropbtn" v-model="data.currentFile">
			<option :value="file.value" v-for="file in data.files" :selected="data.currentFile == file.value ? 'selected': ''">{{ file.label }}</option>
		</select>
	</div>

	<a href="<?php echo $this->getUrl('*/columns/index'); ?>" class="btn-logs">
		<?php echo __('Manage column formatters'); ?>
	</a>

	<div class="float-right">
		<label class="label-logs">
			<select class="select-logs" v-model="options.refreshFrequency">
				<option value="">No refresh</option>
				<option value="2">Refresh 2s</option>
				<option value="5">Refresh 5s</option>
				<option value="10">Refresh 10s</option>
				<option value="20">Refresh 20s</option>
				<option value="30">Refresh 30s</option>
				<option value="60">Refresh 60s</option>
			</select>
		</label>
		<label class="label-logs">
			<select class="select-logs" v-model="options.countPerPage">
				<option value="10">10 entries</option>
				<option value="20">20 entries</option>
				<option value="50">50 entries</option>
				<option value="100">100 entries</option>
				<option value="200">200 entries</option>
				<option value="500">500 entries</option>
			</select>
		</label>
	</div>

	<div class="container">
		Displayed columns
		<hr>
		<div class="check" id="grpChkBox">
			<span v-for="(number, index) in data.columns.count">
				<input :id="'column-'+index" type="checkbox" :name="'column-'+index" v-model="options.columnShow[index]"/>
				<label :for="'column-'+index">
					<div class="box"><i class="icon-check"></i></div>
					{{ data.columns.labels[index] !== undefined ? data.columns.labels[index] : 'Column '+number }}
				</label>
			</span>
		</div>
	</div>

	<input type="text" id="search_query" placeholder="Search in Logs .." v-model="searchQuery">
	<table id="table-logs">
		<thead>
		<tr class="header">
			<th :class="'column-'+index" v-for="(number, index) in data.columns.count" v-if="options.columnShow[index]">{{ data.columns.labels[index] }}</th>
		</tr>
		</thead>
		<tbody>
		<tr v-for="entry in data.entries">
			<td class="column-0" v-if="options.columnShow[0]">{{ entry[0] }}</td>
			<td class="column-1" v-if="options.columnShow[1]">
				<span :class="'label_'+entry[1].toLowerCase()">{{ entry[1] }}</span>
			</td>
			<td :class="'column-'+index" v-for="(column, index) in entry" v-if="index >= 2 && options.columnShow[index]" v-html="column">{{ column }}</td>
		</tr>
		</tbody>
	</table>
	<div class="center">
		<div class="pagination" v-if="data.totalCount > 0">
			<a href="#" v-if="options.page !== 1" v-on:click="options.page--">&laquo;</a>
			<a href="#"
			   v-for="page in pages"
			   v-on:click="options.page = page"
			   v-if="Math.abs(page-options.page) < 8 && !searchQuery"
			   :class="options.page == page ? 'active' : ''"
			>{{ page }}</a>
			<a href="#" v-if="options.page < pages || (data.entries.length == options.countPerPage && searchQuery)" v-on:click="options.page++">&raquo;</a>
		</div>
	</div>
</div>

<script>
	require(['vue_js', 'jquery', 'mage/template', 'jquery/ui', 'mage/translate'], function (Vue, $) {

		var app = new Vue({
			el: '#app',
			mounted: function () {
				// this.refreshLogData();
				this.intervalRefresh();

				var currentFile = window.localStorage.getItem('magezone_logviewer_current_log');
				if (currentFile === null) {
					currentFile = this.data.files[0].value;
				}
				this.data.currentFile = currentFile;
			},
			updated: function () {
				var self = this;
				this.$nextTick(function () {
					if (self.showAll && !self.loading) {
						self.showAll = false;
						$("#grpChkBox input:not(:checked)").click();
					}
				})
			},
			computed: {
				pages: function () {
					if (this.data.totalCount === 0) {
						return 1;
					}
					return Math.ceil(this.data.totalCount / this.options.countPerPage);
				}
			},
			data: {
				data: {
					files: <?php echo $this->getLogsJson() ?>,
					columns: {},
					entries: {},
					totalCount: 1,
					currentFile: ''
				},
				options: {
					refreshFrequency: 30,
					countPerPage: 20,
					page: 1,
					columnShow: {}
				},
				searchQuery: null,
				interval: null,
				loading: false,
				showAll: false
			},
			methods: {
				refreshLogData: function () {
					if (this.loading) return;

					this.loading = true;
					var self = this;
					var requestData = {
						query: self.searchQuery,
						page: self.options.page,
						count: self.options.countPerPage
					};

					if (this.data.currentFile !== '') {
						requestData.file = this.data.currentFile;
					}
					$('#search_query').blur();

					$.ajax({
						cache: false,
						showLoader: true,
						url: "<?php echo $this->getUrl('*/*/view'); ?>?t=" + $.now(),
						data: requestData,
						complete: function (result) {
							console.log(result);
							self.loading = false;
							var data = result.responseJSON;

							if (data && data.files && data.columns) {
								self.data = data;
							}

						}
					});
				},
				intervalRefresh: function () {
					var self = this;
					clearInterval(this.interval);
					if (this.options.refreshFrequency !== '') {
						this.interval = setInterval(function () {
							self.refreshLogData();
						}, this.options.refreshFrequency * 1000);
					}
				}

			},
			watch: {
				'options.refreshFrequency': function () {this.intervalRefresh();},
				'options.countPerPage': function () {this.refreshLogData();},
				'options.page': function () {this.refreshLogData();},
				'searchQuery': _.debounce(function () {
					this.options.page = 1;
					this.refreshLogData();
				}, 800),
				'data.currentFile': function () {
					window.localStorage.setItem('magezone_logviewer_current_log', this.data.currentFile);
					this.showAll = true;
					this.refreshLogData();
				}
			}
		});

	});
</script>